<?xml version="1.0"?>
<!DOCTYPE cache PUBLIC
    "-//GemStone Systems, Inc.//GemFire Declarative Caching 6.5//EN"
    "http://www.gemstone.com/dtd/cache6_5.dtd">

<cache>
  <region name="people" refid="REPLICATE">
    <region-attributes>
      <cache-listener>
        <class-name>com.gemstone.gemfire.tutorial.storage.LoggingCacheListener</class-name>
      </cache-listener>
    </region-attributes>
  </region>
	<region name="posts" refid="PARTITION_REDUNDANT">
    <region-attributes>
      <cache-listener>
        <class-name>com.gemstone.gemfire.tutorial.storage.LoggingCacheListener</class-name>
      </cache-listener>
    </region-attributes>
  </region>
</cache>
